#background
{
    width : 1100px;
    margin : 50px auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 60px;
}

nav
{
    display : flex;
    justify-content: space-between;
}

.title
{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

#bodytext
{
    font-size: 20px;
}

#homebody
{
    display : flex;
    justify-content: space-between;
}

#imgHi
{
    width : 400px;
    height : 400px;
    object-fit: contain;
}

