#msg
{
    padding : 5px;
    width : 250px;
    height : 100px;
    resize : none;
}

button
{
    width : 10x;
    height : 10px;
    background : transparent;
    border : transparent;
}

@keyframes load
{
  0% {opacity : 100%;}
  50% {opacity : 50%;}
  100% {opacity : 100%;}
}

#sending-load
{
  width : 50px;
  background-color: orange;
  border-style: dashed;
  border-width: 1px;
  border-color: black;
  animation-name: load;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  text-align: center;
}


@keyframes loaded
{
  25% {transform : rotate(-10deg)}
  50% {transform : rotate(10deg)}
  75% {transform : rotate(-10deg)}
  100% {transform : rotate(0)}
}

#success h4
{
  width : 50px;
  background-color: green;
  border-style : solid;
  border-width: 2px;
  border-color: black;
  animation-name: loaded;
  animation-duration: 0.5s;
  text-align: center;
}

#success button
{
  background-color: aqua;
  border-color: black;
  border-style: solid;
  border-width : 2px;
  height : 20px;
  font-weight: bold;
  transition : transform 1s;
  text-align: center;
}

#success button:hover
{
  transform : scale(1.2,1.2);
}

#sender
{
  height : 30px;
  transition : height 1s;
}

#sender:hover {
  height : 40px;
}

