#logo {
    object-fit : contain;
    width : 50px;
    height : 59px;
}

#home
{
    object-fit : contain;
    width : 50px;
    height : 50px;
    transition-duration: 1s;
}

#home:hover
{
    transform: scale(1.1,1.1);
}

#outer {
    background-color: rgb(0, 0, 0);
    padding : 10px;
    width : 1000px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#inner {
    display : flex;
    background-color: rgb(138, 67, 67);
    padding: 10px;
    align-items : center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 
{
    font-size: larger;
    font-family: fantasy;
    color : black;
}

#navigation
{
    display : flex;
    width : 600px;
    flex-direction: row;
    align-items: center;
    margin-left: 90px;
    justify-content: space-between;
}

.h-button
{
    background-color: black;
    display: flex;
    align-items: center;
    width : 100px;
    height : 20px;
    padding : 10px;
    justify-content: center;
    font-family: "Times New Roman";
    font-size: large;
    border-radius: 10px;
    color: whitesmoke;
    transition-duration: 1s;
}

.h-button:hover
{
    transform : translateY(10px);
}